.container{
    text-align: center;
    
}
.output{
    
        background-color: #2f2d2d;
        color: white;
        width: 48%;
        margin-left: auto;
        margin-right: auto;
        text-align: right;
        padding: 5px;
}
.previous-operand{
    
    height: 35px;

}
.cureent-operand{
    
    height: 40px;
    font-size: 30px;
}
.bcontainer{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
/*
table{
    margin: auto;
}*/

input{
    font-size: 49px;
    background-color: #211f1f;
    color: white;
}

input, text { 
    unicode-bidi:bidi-override; 
    text-align: right; 
   }

button{
    font-size: 30px;
    width: 108px;
    height: 45px;
    background-color: rgb(208 208 208); 
}

.button1{
    background-color: #FF9933;
}

.button2{
    background-color: #138808
}

.button3{
    background-color: red;
}